<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Items</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        
        <h1>Sign-ups</h1>

        <ul>
            <li th:each="signup : ${signups}">
                <span th:text="${signup.name}">item</span> (<span th:text="${signup.address}">999</span>)
                
            </li>
        </ul>
        
        <form action="signUps/deleteAll" method="GET"><input type="submit" value="Remove all"/></form>
                
        
        
    </body>
</html>
